@{
    ViewBag.Title = "Test Two-Factor Authentication";
}

<h2>@ViewBag.Title.</h2>
<div class="row">
    <div class="col-md-8">
        <form action="@Url.Action("Verify","Account")" method="post" class="form-horizontal" role="form">
            <div class="form-group">
                <label for="codigo" class="col-md-2 control-label">Six-digit code</label>
                <div class="col-md-10">
                    <input name="code" type="text" class="form-control" />
                </div>
            </div>
            <h4>@ViewBag.Message</h4>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Submit" class="btn btn-default" />
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}